<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Text AI</title>
    <link rel="icon" type="image/x-icon" href="../statics/favicon.ico">

    <!-- Custom fonts for this template-->
    <link href="../statics/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../statics/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include "sidebar.html" %}
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>




                </nav>

                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6">
                                    <br>
                                    <img src="../statics/img/pay_success.svg" height="400" width="auto" alt=""/>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-4">
                                        <br><br><br><br>
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Thank you for your purchase
                                                <i class="fas fa-fw fa-check-circle" style="color: #0f6848"></i></h1>
                                        </div>

                                        <div class="text-center">
                                            <p class="h6 text-gray-900 mb-4">
                                                Congratulations! Your payment has been successfully processed. Thank you for choosing our services.!<br><br>
                                                <p style="color: #4e73df">
                                                <i class="fas fa-fw fa-exclamation-triangle" style="color: orange"></i>
                                                We take full responsibility for any issues that may arise with our payment system,
                                            <strong>we kindly request that if you experience any payment issues, please reach out to us first before requesting a refund from PayPal.</strong>
                                                </p>
                                            </p>
                                        </div>

                                        <a href="/home"><input type="button" class="btn btn-primary btn-user btn-block"
                                                   value="Home Page"/></a>


                                        <br><br>




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End of Main Content -->

            </div>
            <!-- Footer -->
            {% include "footer.html" %}
            <!-- End of Footer -->





        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../statics/vendor/jquery/jquery.min.js"></script>
    <script src="../statics/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../statics/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../statics/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../statics/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../statics/js/demo/chart-area-demo.js"></script>
    <script src="../statics/js/demo/chart-pie-demo.js"></script>

</body>

</html>