<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    {% load static %}
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/home">

                <div class="sidebar-brand-icon">
                     <img src="{% static 'img/Your_AI_black-removebg-preview.png' %}" height="50" width="auto" alt=""/>
                </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->

            <li class="nav-item active">
                <a class="nav-link" href="/home">
                    <i class="fas fa-fw fa-grip-horizontal"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/dataexamplePage">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Data Example</span></a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Developer Tools
            </div>

            <!-- Nav Item -->

            <li class="nav-item">
                <a class="nav-link" href="/apiPage">
                    <i class="fas fa-fw fa-tools"></i>
                    <span>REST API Description</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/httpcodesPage">
                    <i class="fas fa-fw fa-map"></i>
                    <span>Http Codes Description</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <li class="nav-item">
                <a class="nav-link" href="/logout">
                    <i class="fas fa-fw fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>



</ul>