<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Your AI</title>
    <link rel="icon" type="image/x-icon" href="../../statics/favicon.ico">

    <!-- Custom fonts for this template-->
    <link href="../../statics/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../../statics/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>




                </nav>

                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="p-4">
                                        <br><br>
                                        <center><img src="{% static 'img/Your_AI-removebg-preview.png' %}" height="100" width="auto" alt=""/></center>
                                        <br><br>
                                        <div class="text-center">
                                            <h2 class="h4 text-gray-900 mb-4">Write a review, and analyse it to see the emotions behind</h2>
                                        </div>

                                        <form class="user" method="POST" action="detectEmotionTrial">

                                            {% csrf_token %}


                                            <div class="form-group">
                                                <textarea class="form-control form-control-user" id="text"
                                                    placeholder="Your review text here" name="text" >{{ oldtext }}</textarea>
                                            </div>


                                            <input type="submit" class="btn btn-primary btn-user btn-block"
                                                   data-bs-target="#exampleModal"
                                                   value="Analyze"/>

                                            <br>
                                            <!-- Success Alert -->
                                            {% if responseType and responseType == "success" %}
                                            <center>
                                            <div class="col-lg-8">
                                                <table class="table table-bordered">

                                                  <tbody>
                                                    <tr>
                                                      <th scope="row" style="width:100px;">Positive</th>
                                                        <td><div class="progress"><div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {% if Emotion == 'Positive' %}{{ Score }}{% endif %}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div></div></td>
                                                    </tr>
                                                    <tr>
                                                      <th scope="row" style="width:100px;">Negative</th>
                                                        <td><div class="progress"><div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {% if Emotion == 'Negative' %}{{ Score }}{% endif %}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div></div></td>
                                                    </tr>
                                                
                                                  </tbody>
                                                </table>
                                            </div>
                                            </center>
                                            {% endif %}
                                            <!---->
                                            <!-- Error Alert -->
                                            {% if responseType and responseType == 'error' %}
                                            <div class="alert alert-danger" role="alert">
                                              {{ response }}
                                            </div>
                                            {% endif %}
                                            <!---->

                                        </form>

                                        <br>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End of Main Content -->

            </div>
            <!-- Footer -->
            {% include "footer.html" %}
            <!-- End of Footer -->





        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../../statics/vendor/jquery/jquery.min.js"></script>
    <script src="../../statics/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../../statics/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../../statics/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../../statics/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../../statics/js/demo/chart-area-demo.js"></script>
    <script src="../../statics/js/demo/chart-pie-demo.js"></script>

</body>

</html>